src/plugins/detector/CsI/cluster/init/ClusterCsI.xsd

<?xml version="1.0" endcoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="ClusterCsI">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="date">
      <xs:complexType>
        <xs:attribute name="time" type="xs:dateTime"/>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>



</xs:schema>
